<footer style="background-color: #fbc2db; color: #000000; padding: 30px 0">
  <div class="container">
    <div class="row">
      <!-- Columna de información de la empresa -->
      <div class="col-md-4 mb-4">
        <h5>Sobre Nosotros</h5>
        <p>
          En Spa Sentirse Bien, nos dedicamos a ofrecerte los mejores
          tratamientos de relajación y belleza. Nuestros profesionales están
          comprometidos con tu bienestar.
        </p>
      </div>

      <!-- Columna de enlaces rápidos -->
      <div class="col-md-4 mb-4">
        <h5>Enlaces Rápidos</h5>
        <ul
          class="list-unstyled"
          style="list-style-type: circle; padding-left: 20px"
        >
          <li>
            <a
              href="{% url 'servicios' %}"
              class="text-dark text-decoration-none"
              >Servicios</a
            >
          </li>
          <li>
            <a
              href="{% url 'consultas' %}"
              class="text-dark text-decoration-none"
              >Consultas</a
            >
          </li>
        </ul>
      </div>

      <div class="col-md-4 mb-4">
        <h5>Contacto</h5>
        <ul style="list-style-type: circle; padding-left: 20px">
          <li>Dirección: French 414, Resistencia, Chaco</li>
          <li>Teléfono: +3624012345</li>
          <li>Email: spasentirsebien@gmail.com</li>
          <li style="list-style-type: none; padding-left: 0; margin-top: 15px;">
            <a href="https://www.facebook.com/TuPaginaDeFacebook" target="_blank" aria-label="Enlace a Facebook" class="text-dark" style="margin-right: 15px; font-size: 1.5em;">
              <i class="fab fa-facebook-f"></i>
            </a>
            <a href="https://www.instagram.com/TuCuentaDeInstagram" target="_blank" aria-label="Enlace a Instagram" class="text-dark" style="font-size: 1.5em;">
              <i class="fab fa-instagram"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>

    <!-- Línea divisoria -->
    <hr class="bg-light" />

    <!-- Derechos reservados -->
    <div class="text-center">
      <p>&copy; 2025 Spa Sentirse Bien. Todos los derechos reservados.</p>
      <p class="mb-0">Creadores de la página web: Lenain Juan Pablo, Cecilia Molo y Martin Vernazza</p>
    </div>
  </div>
</footer>

<!-- Agrega FontAwesome para los íconos sociales -->
<script src="https://kit.fontawesome.com/a076d05399.js"></script>